body{
    font-family: 'Nunito', sans-serif;
}

main img{
    margin-top: 2em;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
main div a{
    background-color: grey;
    color: white;
    border-radius: 10px;
    padding: 1%;
    text-decoration: none;
}
